.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  @media (min-width: 768px) and (max-width: 1199px) {
    max-width: 738px;
    padding-left: 0px;
    padding-right: 0px;
  }
  @media (min-width: 480px) and (max-width: 767px) {
    max-width: 450px;
    padding-left: 0px;
    padding-right: 0px;
  }
  &.header {
    display: flex;
    align-items: center;
    position: relative;
    @media (min-width: 480px) and (max-width: 767px) {
      max-width: 480px;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      max-width: 768px;
    }
  }
  &.basement {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
    }
  }
}
