.customer {
  @include list;
  @media (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 1200px) {
    .customer__list {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    .customer__list {
      margin: 15px;
      width: calc((100% - 6 * 15px) / 3);
    }
  }
  @media (max-width: 767px) {
    .customer__list {
      margin: 15px;
      width: calc((100% - 4 * 15px) / 2);
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $icon-color;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: color 250ms $time-function, border 250ms $time-function;

    &:hover,
    &:focus {
      color: $accent-text-color;
      border: 1px solid $accent-text-color;
    }
    @media (max-width: 479px) {
      max-width: 210px;
    }
    @media (min-width: 480px) {
      padding: 16px 52px;
    }
    @media (min-width: 1200px) {
      width: 170px;
      height: 92px;
      padding: 16px 32px;
    }
  }
  &__icon {
    max-width: 106px;
    max-height: 60px;
    fill: currentColor;
  }
}
