$accent-text-color: #2196f3;
$title-text-color: #212121;
$primary-text-color: #757575;
$primary-wight-color: #ffffff;
$second-bgc-color: #2f303a;
$third-bgc-color: #f5f4fa;
$icon-color: #afb1b8;
$form-label-color: rgba(117, 117, 117, 0.5);
$time-function: cubic-bezier(0.4, 0, 0.2, 1);

body {
  width: 100%;

  color: var(--primary-text-color);
  background-color: var(--primary-wight-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
